<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body style="background-image:url('family.jpeg'); background-size:cover;background-repeat:no-repeat;background-attachment:fixed;">
<body>

<div class="container">
    <h1>Blog</h1>
    <p>---For my life</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>for my family</h3>
            <p>Parents of the grace,</p>
            <p>water will not drown,</p>
            <p>fire can not destroy.</p>

        </div>

    </div>
</div>

</body>
</html>